.snappy-gallery-lightbox-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //transition: transform, background-color 0.4s cubic-bezier(0, 0, 0.25, 1) 0s;
  background-color: rgba(0,0,0, 0.8);
  animation-name: snappy-gallery__lightbox--background-in;
  animation-fill-mode: both;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  --icons-spacing: 10px;
  padding-left: 50px;
  padding-right: 50px;

  &--exit-animation {
    animation-name: snappy-gallery__lightbox--background-out;

  }
  &--show-loader {
    img {
      opacity: 0;
    }
  }
  img {
    transition: opacity 0.35s;
    max-width: 100%;
    max-height: 100vh;
  }
  &__action-button {
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &__close {
    position: absolute;
    top: var(--icons-spacing);
    right: var(--icons-spacing);
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &--left{
      left: var(--icons-spacing);
    }
    &--right {
      right: var(--icons-spacing);
    }
  }
  &__preload-container {
    position: absolute;
    z-index: -1;
  }
  &__next-img,
  &__previous-img {
    visibility: hidden;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 10;
    color: white;
  }
}

@keyframes snappy-gallery__lightbox--background-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes snappy-gallery__lightbox--background-out {
  from {opacity: 1}
  to {opacity: 0}
}