@import './components/style';
@import '../../utils/mixins';

.snappy-gallery {
  --gap : 10px;
  --number-columns: 1;
  max-height: 100vh;
  overflow: auto;

  @include bootstrap-sm {
    --number-columns: 2;
  }

  @include bootstrap-md {
    --number-columns: 4;
  }
  @include bootstrap-xl {
    --number-columns: 6;
  }
  &__row {
    display: grid;
    grid-gap: var(--gap);
    grid-auto-rows: auto;
    grid-template-columns: repeat(var(--number-columns), 1fr);
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    transform: scale(0.5);
    transition-duration: 0.35s;
    transition-property:opacity, transform;
    transform-origin: center top;
    &[data-loaded] {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__item {
    gap: 5px;
    button {
      position: relative;
      height: 0;
      width: 100%;
      padding: 0;
      border: 0;
      //background: #ccc;
      //&:hover {
      //  background: #ccc;
      //}
    }
  }
}